<h1 mat-dialog-title>Evaluer l'outil de traduction instantanée</h1>

<div mat-dialog-content>
  <div class="question">
    <div class="french">{{ sentences.questionOne.french }}<span class="asterisk"> *</span></div>
    <div class="stars">
      <div class="star" (click)="eval(0, 0)" [ngClass]="{ chosen: rates[0][0] }">
        <mat-icon aria-hidden="false" aria-label="Etoile">star_border</mat-icon>
      </div>
      <div class="star" (click)="eval(1, 0)" [ngClass]="{ chosen: rates[0][1] }">
        <mat-icon aria-hidden="false" aria-label="Etoile">star_border</mat-icon>
      </div>
      <div class="star" (click)="eval(2, 0)" [ngClass]="{ chosen: rates[0][2] }">
        <mat-icon aria-hidden="false" aria-label="Etoile">star_border</mat-icon>
      </div>
      <div class="star" (click)="eval(3, 0)" [ngClass]="{ chosen: rates[0][3] }">
        <mat-icon aria-hidden="false" aria-label="Etoile">star_border</mat-icon>
      </div>
      <div class="star" (click)="eval(4, 0)" [ngClass]="{ chosen: rates[0][4] }">
        <mat-icon aria-hidden="false" aria-label="Etoile">star_border</mat-icon>
      </div>
    </div>
  </div>

  <div class="question">
    <div class="french">{{ sentences.questionTwo.french }}<span class="asterisk"> *</span></div>
    <div class="stars">
      <div class="star" (click)="eval(0, 1)" [ngClass]="{ chosen: rates[1][0] }">
        <mat-icon aria-hidden="false" aria-label="Etoile">star_border</mat-icon>
      </div>
      <div class="star" (click)="eval(1, 1)" [ngClass]="{ chosen: rates[1][1] }">
        <mat-icon aria-hidden="false" aria-label="Etoile">star_border</mat-icon>
      </div>
      <div class="star" (click)="eval(2, 1)" [ngClass]="{ chosen: rates[1][2] }">
        <mat-icon aria-hidden="false" aria-label="Etoile">star_border</mat-icon>
      </div>
      <div class="star" (click)="eval(3, 1)" [ngClass]="{ chosen: rates[1][3] }">
        <mat-icon aria-hidden="false" aria-label="Etoile">star_border</mat-icon>
      </div>
      <div class="star" (click)="eval(4, 1)" [ngClass]="{ chosen: rates[1][4] }">
        <mat-icon aria-hidden="false" aria-label="Etoile">star_border</mat-icon>
      </div>
    </div>
  </div>
  <div class="question">
    <div class="french">{{ sentences.questionFour.french }}<span class="asterisk"> *</span></div>
    <div class="yes-no">
      <input id="question-four-yes" type="radio" name="four" value="oui" (change)="onItemChange($event.target.value)"
             [checked]="rate.offerLinked === 'oui'"/>
      <label for="question-four-yes">Oui</label>
      <input id="question-four-no" type="radio" name="four" value="non" (change)="onItemChange($event.target.value)"
             [checked]="rate.offerLinked === 'non'"/>
      <label for="question-four-no">Non</label>
    </div>
  </div>

  <div class="question">
    <div class="french questionFive">Type entretien<span class="asterisk"> *</span></div>
    <div class="typesEntretien" *ngFor="let type of types;">
        <input type="radio" id="typeEntretien_{{type}}" (change)="setCanSendRate()"
               [value]="type" [(ngModel)]="typeEntretien">
        <label for="typeEntretien_{{type}}">{{type}}</label>
    </div>

    <div class="typesEntretien" *ngIf="typeEntretien === 'Autres'">
      <input id="autreType" class="autreType" type="text" [(ngModel)]="autreType" (input)="setCanSendRate()">
      <span class="asterisk" style="padding-left: 5px;">*</span>
    </div>
  </div>

  <div class="question comment">
    <div class="french">{{ sentences.questionThree.french }} (difficultés rencontrées, idées d'améliorations...)</div>
    <textarea [(ngModel)]="rate.comment" maxlength="218"></textarea>
  </div>
  <div class="question detail">
    <a href="https://forms.office.com/r/VuWX8vcUXk)" target="_blank">Lien vers le questionnaire détaillé</a>
  </div>
  <div class="question comment">
    <span>Champs obligatoires </span>
    <span class="asterisk" style="padding-left: 5px;">*</span>
  </div>
</div>

<div mat-dialog-actions>
  <div matTooltip="Veillez évaluer l’outil avant de soumettre" [matTooltipDisabled]="this.canSendRate"
       matTooltipPosition="above">
    <button [disabled]="!this.canSendRate" [className]="!this.canSendRate?'button-disabled':''" id="send-btn"
            (click)="confirm()">ENVOYER
    </button>
  </div>
</div>
