<div class="modal-header">
  <h1 mat-dialog-title>Evaluer l'outil de traduction instantanée</h1>
  <span class="close" (click)="closeModal()" aria-hidden="true">&times;</span>
</div>

<div mat-dialog-content>
  <div class="question">
    <div class="french">{{ sentences.questionOne.french }}<span class="asterisk"> *</span></div>
    <div class="stars">
      <div class="star" (click)="eval(0, 0)" [ngClass]="{ chosen: rates[0][0] }">
        <mat-icon aria-hidden="false" aria-label="Etoile" class="etoile">star_border</mat-icon>
      </div>
      <div class="star" (click)="eval(1, 0)" [ngClass]="{ chosen: rates[0][1] }">
        <mat-icon aria-hidden="false" aria-label="Etoile" class="etoile">star_border</mat-icon>
      </div>
      <div class="star" (click)="eval(2, 0)" [ngClass]="{ chosen: rates[0][2] }">
        <mat-icon aria-hidden="false" aria-label="Etoile" class="etoile">star_border</mat-icon>
      </div>
      <div class="star" (click)="eval(3, 0)" [ngClass]="{ chosen: rates[0][3] }">
        <mat-icon aria-hidden="false" aria-label="Etoile" class="etoile">star_border</mat-icon>
      </div>
      <div class="star" (click)="eval(4, 0)" [ngClass]="{ chosen: rates[0][4] }">
        <mat-icon aria-hidden="false" aria-label="Etoile" class="etoile">star_border</mat-icon>
      </div>
    </div>
  </div>

  <div class="question comment">
    <div class="french">{{ sentences.questionThree.french }} (difficultés rencontrées, idées d'améliorations...)</div>
    <textarea [(ngModel)]="rate.comment" maxlength="218"></textarea>
  </div>
  <div class="question comment">
    <span>Champs obligatoires </span>
    <span class="asterisk" style="padding-left: 5px">*</span>
  </div>
</div>

<div mat-dialog-actions>
  <div matTooltip="Veillez évaluer l’outil avant de soumettre" [matTooltipDisabled]="this.canSendRate" matTooltipPosition="above">
    <button [disabled]="!this.canSendRate" [className]="!this.canSendRate ? 'button-disabled' : ''" id="send-btn" (click)="confirm()">ENVOYER</button>
  </div>
</div>
