<ng-container *ngIf="inProgress; else elseTemplate">
  <div class="loading">
    <mat-spinner class="spinner"></mat-spinner>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <div class="container">
    <div class="top">
      <div class="record">
        <div class="title">
          {{ text }}
          <img src="assets/icons/icon-micro-white.svg" alt="Microphone" />
        </div>

        <div class="progress-bar">
          <div class="bar" [ngStyle]="{ width: width + '%' }"></div>
        </div>
      </div>

      <div class="actions">
        <button (click)="exitAudio()"><img src="assets/icons/icon-delete-white.svg" alt="Fermer" /></button>
        <button (click)="retry()"><img src="assets/icons/icon-refresh-white.svg" alt="Relancer" /></button>
        <button (click)="sendSpeech()" [disabled]="!canSend" [ngStyle]="{ backgroundColor: seconds > 3 ? '#135DFE' : '#b4cafc' }"><img src="assets/icons/icon-send-white.svg" alt="Envoyer" /></button>
      </div>
    </div>
    <div class="bottom">
      {{ seconds }}
    </div>
  </div>
</ng-template>
