@import 'styles';

:host {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.mat-dialog-title {
  background-color: $secondary-color;
  color: #ffffff;
  padding: 35px 30px;
  font-size: 20px;
  margin: 0;
}
.mat-dialog-content {
  margin: 0;
  padding: 0 30px;
}

.copy-btn{
  background: white;
  border: 1px solid #dddddd;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
  font-size: 10px;
}

.advise{
  font-size:17px;
}

.link{
  font-size:13px;
}

.qrcode{
  margin: 20px
}

.between{
  margin-top:20px;
}