@import 'styles';

:host {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
.share-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: $secondary-color;
  padding: 35px 30px;
  font-size: 20px;
}
.close-button:hover {
  cursor: pointer;
}
.mat-mdc-dialog-content {
  margin: 0;
  padding: 0 30px;
}
.mat-mdc-dialog-title {
  color: #ffffff;
}
.share {
  margin-left: 10px;
  margin-bottom: 10px;
}
.title {
  font-size: 15px;
}

.content {
  margin: 10px;
}

.advise {
  font-size: 13px;
  margin-left: 50px;
}

.link {
  font-size: 13px;
  margin-left: 50px;
  font-weight: lighter;
}

.copy-btn {
  background: white;
  border: 1px solid #dddddd;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
  font-size: 10px;
}

@media screen and (max-width: 576px) {
  .advise {
    margin-left: 0px;
  }
  .link {
    font-size: 10px;
    margin-left: 0px;
  }
  .copy-btn {
    margin-left: 5px;
  }
}
