<h1 mat-dialog-title>Inviter des interlocuteurs</h1>
<div mat-dialog-content>
  <ul>
    <li>
      <span class="advise">soit par ce QR code à flasher par le support de votre interlocuteur</span><br>
      <qrcode class="qrcode" [qrdata]="qrCode" [width]="4" [errorCorrectionLevel]="'M'"></qrcode>
    </li>
    <li>
      <span class="advise">soit par le lien à saisir dans le navigateur de votre interlocuteur</span><br>
      <span class="link">{{link}}</span>
      <button class="copy-btn" (click)="copyLink()" value="cliquer pour copier" >COPIER</button>
    </li>
  </ul>
</div>
<div></div>
