$background: #e5e5e5;
$primary-color: #135dfe;
$secondary-color: #4680fe;
$warning-color: orange;
$light-blue: #eaf0fb;
$white: #ffffff;
$white-smoke: #f5f5f5;
$gray74: #bdbdbd;
$black: #000000;
$btn-border: #dddddd;
$button-black: #333333;
$red-corail: #bf5858;
$warm-white:  #fafafa;
