/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import 'colors';
@import 'reset';
@import 'media';
@import 'fonts';

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: $primary-color !important;
}

.customDialog {
  max-width: 100vw !important;
}

.customDialog > .mat-dialog-container {
  padding: 0;
  border-radius: 0;
}

.mat-accent .mat-input-element {
  caret-color: $primary-color !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple.mat-accent {
  background-color: $primary-color !important;
}

.mat-form-field.mat-focused .mat-form-field-label.mat-accent {
  color: $primary-color !important;
}

.toast-error {
  background-color: #c93939;
  color: #ffffff;
  button {
    color: #ffffff !important;
  }
}

.toast-success {
  background-color: #42bd44;
  color: #ffffff;
  button {
    color: #ffffff !important;
  }
}

.toast-info {
  background-color: $primary-color;
  color: #ffffff;
  button {
    color: #ffffff !important;
  }
}

.toast-warning {
  background-color: $warning-color;
  color: $black;
  button {
    color: $black !important;
  }
}

.loader .mat-dialog-container {
  background: none;
  box-shadow: none;
}

.tooltip-info {
  background-color: black;
  font-size: 12px;
}

%option-btn {
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
  cursor: pointer;
}

.qrcode{
  margin-left: 107px;
  margin-top: 15px;
  canvas{
    border: 1px solid;
    border-radius: 5%;
  }
}

@media screen and (max-width: 576px) { 
  .qrcode{
    margin-left: 60px;
  }
  
}