<div class="equaliser-container">
  <ol class="equaliser-column">
    <li class="colour-bar blue"></li>
  </ol>
  <ol class="equaliser-column">
    <li class="colour-bar grey"></li>
  </ol>
  <ol class="equaliser-column">
    <li class="colour-bar black"></li>
  </ol>

  <ol class="equaliser-column">
    <li class="colour-bar blue"></li>
  </ol>
  <ol class="equaliser-column">
    <li class="colour-bar grey"></li>
  </ol>
  <ol class="equaliser-column">
    <li class="colour-bar black"></li>
  </ol>

  <ol class="equaliser-column">
    <li class="colour-bar blue"></li>
  </ol>
  <ol class="equaliser-column">
    <li class="colour-bar grey"></li>
  </ol>
  <ol class="equaliser-column">
    <li class="colour-bar black"></li>
  </ol>

  <ol class="equaliser-column">
    <li class="colour-bar blue"></li>
  </ol>
  <ol class="equaliser-column">
    <li class="colour-bar grey"></li>
  </ol>
  <ol class="equaliser-column">
    <li class="colour-bar black"></li>
  </ol>
</div>