.mat-form-field {
    font-size: 14px;
    width: 93%;
}

.mat-paginator {
    width: 100%;
}


/*
.mat-cell {
    
    padding: 8px 8px 8px 0;
    //width: 100%;
}
*/

.mat-column-traduction {
    width: 150px;
    padding-right: 50px;
}

.mat-column-country {
    width: 150px;
    padding-right: 50px;
}

.mat-column-language {
    width: 150px;
    padding-right: 50px;
}

.mat-column-flag {
    width: 150px;
    padding-right: 50px;
}

table {
    width: 100%;
    height: 100%;
}

.flag-icon {
    width: 86px;
    height: 64px;
}