.dialogContent {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 0 15px 60px 15px;
      width: 100px;
      height: 125px;
      .flag-icon {
        width: 75px;
        height: 56px;
        box-shadow: 0 0 3px #aaa;
      }
      .text {
        div {
          text-align: center;
        }
        .language {
          font-weight: bold;
        }
        .country {
  
        }
      }
    }
  }
}
