<h1 mat-dialog-title class="dialogTitle">Choix de la langue</h1>

<mat-form-field>
  <mat-label>Recherche :</mat-label>
  <input matInput (keyup)="applyFilter($event)" />
</mat-form-field>
<mat-table [dataSource]="dataCountriesSource" matSort matSortStart="asc" class="mat-dialog-content">
  <ng-container matColumnDef="traduction">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Pays (FR)</mat-header-cell>
    <mat-cell *matCellDef="let element" (click)="chooseLanguage(element.countryNameFr)">{{ element.countryNameFr }}</mat-cell>
  </ng-container>
  <!-- country Column-->
  <ng-container matColumnDef="country">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Pays</mat-header-cell>
    <mat-cell *matCellDef="let element" (click)="chooseLanguage(element.countryNameFr)">{{ element.countryNameRaw }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="language">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Langue</mat-header-cell>
    <mat-cell *matCellDef="let element" (click)="chooseLanguage(element.countryNameFr)">{{ element.languageNameRaw }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="flag">
    <mat-header-cell *matHeaderCellDef>Drapeau</mat-header-cell>
    <mat-cell *matCellDef="let element" (click)="chooseLanguage(element.countryNameFr)"><span class="flag-icon flag-icon-{{ element.flag.toLowerCase() }}"></span></mat-cell>>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
