@import 'styles';

:host {
  min-height: 100%;
  background-color: $light-blue;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  display: flex;  
  flex-direction: column;
  height: 100%;
  background-color: $light-blue;
  padding: 0 2%;
}

.header {
  flex-grow:1;
}

.option{
  list-style: none;
  text-align: end;
  li{
    margin-bottom: 5px;
  }
}

.roomId{
  font-weight: bold; 
  margin-right:10px
}

.end-btn{
  @extend %option-btn;
  background-color: $primary-color;
  color: white;
}

.share-btn{
  @extend %option-btn;
  background-color: white; 
  color:black; 
  margin-right: 10px; 
  font-weight: bold;
}

.auto-listen-btn {
  text-decoration: none;
  color: #4171da;
  font-size: 14px;
}


.main {
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow:10;
  width: 50vw;
  height: 50vh;
  margin: auto;
  &::-webkit-scrollbar {
    width: 5px;
    background-color: #e0e0e0;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $black;
    border-radius: 3px;
  }
}

.footer {
  flex-grow:1;
  margin:auto;
  width: 50vw;
}

@media screen and (max-width: 800px) {
  .main, .footer {
    width: 100%;
  }
  .roomId{
    font-size:12px;
  }
  .auto-listen-btn {
    font-size: 12px;
  }
  %option-btn {
    font-size: 9px;
  }
}