<navbar [items]="navBarItems"></navbar>

<app-translation-title (finish)="closeConversation()"></app-translation-title>
<div class="interfaces">
  <div class="msg">
    <app-message-wrapper user="advisor" class="margin"
    (newMessagesToEmit)="addToThread($event)"
    [rawText]="advisorTextToEdit"
    >
  </app-message-wrapper>
    <app-message-wrapper user="guest" class="margin"
    (newMessagesToEmit)="addToThread($event)"
    [rawText]="guestTextToEdit"
    ></app-message-wrapper>
  </div>
  <div class="conversation">
    <div class="head-conversation">
      <h2>Conversation</h2>
      <div class="auto-listen">
        <mat-slide-toggle (click)="switchAudio()" checked labelPosition="before" >{{ autoListenValue }}</mat-slide-toggle>
      </div>
    </div>
    <div class="thread">
      <app-conversation-thread
      [rawText]="sentMessage"
      [conversationThread]="messages"
      (textToEdit)="toEdit($event)"
      ></app-conversation-thread>
    </div>
  </div>
</div>
