<app-translation-title (finish)="closeConversation($event)"></app-translation-title>

<div class="interfaces">
  <div class="interface-wrapper">
    <app-message-wrapper user="advisor"></app-message-wrapper>
  </div>
  <div class="interface-wrapper">
    <app-message-wrapper user="guest"></app-message-wrapper>
  </div>
<!--
  <mat-tab-group mat-stretch-tabs (selectedTabChange)="changeUser($event)" headerPosition="below">
    <mat-tab label="Conseiller" [disabled]="disableSwitch()">
      <div class="advisor size">

        <h2>Conseiller</h2>
        <div class="speaker"> -->
          <!-- BUTTONS SECTION -->
          <!-- <div class="action">
            <ng-container *ngIf="!isKeyboardActivated; else advisorKeyboard"> -->
              <!-- TALK -->
              <!-- <button (click)="talk('advisor')" [matTooltip]="toolTips[3]" matTooltipPosition="below">
                <mat-icon aria-hidden="false" aria-label="Micro">
                  <ng-container *ngIf="isTalking; else micro">mic_off</ng-container>
                  <ng-template #micro>mic</ng-template>
                </mat-icon>
              </button>
            </ng-container>
            <ng-template #advisorKeyboard> -->
              <!-- KEYBOARD -->
              <!-- <button (click)="translateFromKeyboard('advisor')" [matTooltip]="toolTips[0]" matTooltipPosition="below">
                <mat-icon aria-hidden="false" aria-label="Envoyer la traduction">send</mat-icon>
              </button>
            </ng-template> -->
            <!-- LISTEN -->
            <!-- <button (click)="listen('advisor')" [matTooltip]="toolTips[1]" matTooltipPosition="below">
              <mat-icon aria-hidden="false" aria-label="Sons">
                <ng-container *ngIf="isListening; else sound">volume_off</ng-container>
                <ng-template #sound>volume_up</ng-template>
              </mat-icon>
            </button>

          </div> -->
          <!-- TEXT SECTION -->
          <!-- <div class="text" *ngIf="!isKeyboardActivated"> -->
            <!-- ANIMATION -->
            <!-- <app-audio-animation *ngIf="isTalking"></app-audio-animation> -->
            <!-- MESSAGE -->
            <!-- <div *ngIf="speechData != '' && !isTalking">
              {{ speechData }}
            </div>
          </div>
          <mat-form-field class="input" *ngIf="isKeyboardActivated">
            <input matInput placeholder="{{ getWordTranslation('advisor', 'request') }}" [(ngModel)]="keyboardData"
              type="text" (keyup)="onPressEnter($event, 'advisor')">
              <button mat-button *ngIf="keyboardData" matSuffix mat-icon-button aria-label="Clear" (click)="keyboardData=''">
                <mat-icon class="clearTextIcon">close</mat-icon>
              </button>
          </mat-form-field>
        </div>

        <div class="speaker"> -->
          <!-- BUTTONS SECTION -->
          <!-- <div class="action"> -->
            <!-- LISTEN -->
            <!-- <button (click)="listenTranslation()" [matTooltip]="toolTips[2]" matTooltipPosition="below">
              <mat-icon aria-hidden="false" aria-label="Sons">
                <ng-container *ngIf="isTranslationListening; else sound">volume_off</ng-container>
                <ng-template #sound>volume_up</ng-template>
              </mat-icon>
            </button>
          </div> -->
          <!-- TEXT SECTION -->
          <!-- <div class="text text-speaker"> -->
            <!-- ANIMATION -->
            <!-- <ng-container *ngIf="inProgress && !error; else translation">
              <mat-spinner class="spinner"></mat-spinner>
            </ng-container>
            <ng-template #translation> -->
              <!-- MESSAGE -->
              <!-- <ng-container *ngIf="translated">
                {{ speechTranslated }}
              </ng-container>
            </ng-template>

          </div>
        </div>

      </div>
    </mat-tab>

    <mat-tab label="Demandeur d'emploi" [disabled]="disableSwitch()">
      <div class="guest size">

        <h2>Demandeur d'emploi</h2>

        <div class="speaker"> -->
          <!-- BUTTONS SECTION -->
          <!-- <div class="action">
            <ng-container *ngIf="!isKeyboardActivated; else guestKeyboard"> -->
              <!-- TALK -->
              <!-- <button (click)="talk('guest')" [matTooltip]="toolTips[3]" matTooltipPosition="below">
                <mat-icon aria-hidden="false" aria-label="Micro">
                  <ng-container *ngIf="isTalking; else micro">mic_off</ng-container>
                  <ng-template #micro>mic</ng-template>
                </mat-icon>
              </button>
            </ng-container>
            <ng-template #guestKeyboard> -->
              <!-- KEYBOARD -->
              <!-- <button (click)="translateFromKeyboard('guest')" [matTooltip]="toolTips[0]" matTooltipPosition="below">
                <mat-icon aria-hidden="false" aria-label="Envoyer la traduction">send</mat-icon>
              </button>
            </ng-template> -->
            <!-- LISTEN -->
            <!-- <button (click)="listen('guest')" [matTooltip]="toolTips[1]" matTooltipPosition="below">
              <mat-icon aria-hidden="false" aria-label="Sons">
                <ng-container *ngIf="isListening; else sound">volume_off</ng-container>
                <ng-template #sound>volume_up</ng-template>
              </mat-icon>
            </button>

          </div> -->
          <!-- TEXT SECTION -->
          <!-- <div class="text" *ngIf="!isKeyboardActivated"> -->
            <!-- ANIMATION -->
            <!-- <app-audio-animation *ngIf="isTalking"></app-audio-animation> -->
            <!-- MESSAGE -->
            <!-- <div *ngIf="speechData != '' && !isTalking">
              {{ speechData }}
            </div>
          </div>
          <mat-form-field class="input" *ngIf="isKeyboardActivated">
            <input matInput placeholder="{{ getWordTranslation('guest', 'request') }}" [(ngModel)]="keyboardData"
              type="text" (keyup)="onPressEnter($event, 'guest')">
              <button mat-button *ngIf="keyboardData" matSuffix mat-icon-button aria-label="Clear" (click)="keyboardData=''">
                <mat-icon class="clearTextIcon">close</mat-icon>
              </button>
          </mat-form-field>
        </div>

        <div class="speaker"> -->
          <!-- BUTTONS SECTION -->
          <!-- <div class="action"> -->
            <!-- LISTEN -->
            <!-- <button (click)="listenTranslation()" [matTooltip]="toolTips[2]" matTooltipPosition="below">
              <mat-icon aria-hidden="false" aria-label="Sons">
                <ng-container *ngIf="isTranslationListening; else sound">volume_off</ng-container>
                <ng-template #sound>volume_up</ng-template>
              </mat-icon>
            </button>
          </div> -->
          <!-- TEXT SECTION -->
        <!-- <div class="text text-speaker"> -->
            <!-- ANIMATION -->
            <!-- <ng-container *ngIf="inProgress && !error; else translation">
              <mat-spinner class="spinner"></mat-spinner>
            </ng-container>
            <ng-template #translation> -->
              <!-- MESSAGE -->
              <!-- <ng-container *ngIf="translated">
                {{ speechTranslated }}
              </ng-container>
            </ng-template>

          </div>
        </div>

      </div>
    </mat-tab>
  </mat-tab-group>-->
</div>
