@import 'styles';

:host {
  display: flex;
  flex-direction: column;
  background-color: $light-blue;
}

.translate {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 20px;
  .conversation {
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    padding: 15px;
    .head-conversation {
      display: flex;
      flex-direction: row;
      background-color: white;
      z-index: 10;
      height: 45px;
      .auto-listen {
        width: 85%;
        text-align: end;
        vertical-align: text-bottom;
        padding-top: 5px;
        .auto-listen-btn {
          text-decoration: none;
          color: #4171da;
          margin-right: 10px;
          font-size: 14px;
        }
      }
      h2 {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 20px;
      }
    }
    .thread {
      width: 100%;
      height: 790px;
      overflow-y: overlay;
      &::-webkit-scrollbar {
        width: 5px;
        background-color: #e0e0e0;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $black;
        border-radius: 3px;
      }
    }
    
  }
}
.translate-one {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.translate-multi {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.conversation-one {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  height: 530px;
  width: 100%;
}
.conversation-multi {
  margin: auto;
  height: 45vh;
  width: 100%; //a voir
}
.thread-one{
  height: 790px;
}
.thread-multi{
  height: 90%;
}
.head-conversation-multi {
  justify-content: space-between;
}

.msg {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  margin-left: 10px;
  transition-duration: 1.3s;
  #advisor-wrapper {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  .oneDevice {
    width: 98%;
    .conversation {
      height: 550px;
    }
  }
  .multiDevices {
    width: 98%;
    .conversation {
      height: 550px;
    }
  }
}

@media screen and (max-width: 800px) {
  .oneDevice {
    width: 96%;
    flex-direction: column;
    margin-bottom: 10px;

    .margin {
      margin-bottom: 0;
      margin-right: 0;
    }

    .conversation {
      height: 40vh;
      margin-bottom: 10px;
      .head-conversation {
        width: 98%;
        .auto-listen {
          width: 90%;
          .auto-listen-btn {
            margin-right: 0px;
          }
        }
      }
    }

    .msg {
      margin-left: 0px;
    }
  }
  .multiDevices {
    width: 96%;
    flex-direction: column;
    margin-bottom: 10px;

    .margin {
      margin-bottom: 0;
      margin-right: 0;
    }

    .conversation {
      height: 40vh;
      margin-bottom: 10px;
      .head-conversation {
        width: 98%;
        .auto-listen {
          width: 90%;
          .auto-listen-btn {
            margin-right: 0px;
          }
        }
      }
    }

    .msg {
      margin-left: 0px;
    }
  }
}
