@import 'src/sass/colors';

:host {
  flex: 1;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  .close {
    cursor: pointer;
    color: $secondary-color;
    font-size: 30px;
  }
  .titles {
    font-size: x-large;
    padding-bottom: 15px;
  }
}

.carousel {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 0.5em;
}
.video {
  border: 0px;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5em;
}

.control {
  top: 30%;
  border: none;
  background-color: transparent;
  outline: 0;
  position: absolute;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5em;
  color: white;
  font-weight: bold;
  font-size: 3em;
  opacity: 80%;

  &.next {
    right: 0;
  }

  &.prev {
    left: 0;
  }
}

.arrow {
  width: 50px;
  height: 50px;
}

.helpSentences {
  white-space: pre-line;
  display: flex;
  padding: 20px;

  .helpFR,
  .helpEN {
    flex-grow: 1;
    white-space: pre-line;
    text-align: justify;
    .helpText {
      height: fit-content;
    }
    .browser {
      margin-top: 15px;
      img {
        margin-right: 10px;
        vertical-align: middle;
        width: 32px;
        height: 32px;
      }
    }
  }
  .helpFR {
    max-width: 50%;
  }
}

.slide1 {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  padding: 20px;
}

.helpFigures {
  display: flex;
  justify-content: center;
  margin: 25% 0;

  .helpImage {
    width: 50%;
    height: auto;
  }

  .column {
    display: inline-block;
  }
}

.discoursPoints {
  list-style: none;

  .sentences {
    margin: 20px;
  }

  .point {
    vertical-align: middle;
    margin-top: 15px;

    img {
      margin-right: 10px;
      vertical-align: middle;
      width: 32px;
      height: 32px;
    }
  }
}
