@import 'panel';

:host {
  padding-top: 20px;
}

.title {
    margin-bottom: 0 !important;
}

.description {
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    .img {
        width: 50%;
        // padding: 30px 150px 30px 150px;
    }
    .t3 {
        padding: 0px 100px 30px 100px;
        text-align: center;
    }
}

.action{
    display: flex;
    button {
        width: 170px;
    }
    .options {
        background-color: $white-smoke;
        color: black;
    }
}


.mobileBtn{
    width: 80px !important;
}

@media (max-width: 768px) {
    .action{
        button {
            width: 150px;
        }
    }
}

@media screen and (max-width: 576px) { 
    .action{
        button {
            width: 120px;
        }
    }
}

@media screen and (max-width: 576px) {
    .description {
        .img {
            width: 100%;
            padding: 0px 0px 0px 0px;
        }
        .t3 {
            text-align: center;
            padding: 0px 20px 0px 20px;
        }
    }
  }