@import 'styles';

:host {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $light-blue;
}

.parameter-panel {
  margin: 10px 5%;

  h2 {
    color: $secondary-color;
    font-size: 22px;
    font-weight: 400;
  }
  a {
    color: #4171da;
    text-decoration: underline;
    cursor: pointer;
  }
  .parameter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    min-height: 100%;
    padding: 18px;
    margin-top: 30px;
    padding-bottom: 30px;
    border-radius: 5px;

    h4 {
      margin-bottom: 0;
    }

    .export {
      display: flex;
      border: 1px solid #cccccc;
      border-radius: 5px;
      margin-top: 15px;
      width: 200px;
      align-items: center;
      cursor: pointer;

      .export-item-img {
        margin: 5px 10px;
        width: 30%;
      }
      .export-item-text {
        width: 70%;
      }
    }
  }
}

