<navbar [items]="navBarItems"></navbar>
<div class="parameter-panel">
  <h2><strong>Paramètres</strong></h2>
  <a routerLink="{{ path }}"> < retour</a>
  <div class="parameter">
    <div>
      <h4>Mode de saisie vocal</h4>
      <div class="option">
        <div class="option-item">
          <input id="vocal-record" type="radio" name="vocal" value="record" (change)="onItemChange($event.target.value)" checked />
        </div>
        <div class="option-item">
          <p class="option-text">
            <strong>Saisie avancée</strong><br />
            Permet de saisir des phrases plus longues.<br />Attention, temps de traitement plus importants.
          </p>
        </div>
      </div>
    </div>
    <div *ngIf="isAdmin">
      <h4>Résultat de l'enquêtes</h4>
      <div class="export" (click)="export()">
        <div class="export-item-img">
          <img src="assets/icons/icon-export-black.svg" alt="Télécharger" />
        </div>
        <div class="export-item-text"><span class="export-description">Télécharger</span></div>
      </div>
    </div>
  </div>
</div>
