@import 'styles';

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $light-blue;
  padding: 0 2%;

  .container {
    display: flex;
    flex-direction: column;
    padding: 12px 20px;
    margin-bottom: 12px;
    background-color: $white;
    box-shadow: 0 0 3px #aaaaaa;
    color: #333333;
    border-radius: 5px;
    height: 95%;
    overflow: auto;

    .header {
      display: flex;
      justify-content: flex-end;
      padding: 12px 0;
    }

    .drop-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 16px auto;
      padding: 64px;
      border: 2px dashed $black;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background: #eee;
      }
      &:-moz-drag-over {
        background: #eee;
      }
      #fileDropRef {
        display: none;
      }
      .file-input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    .vizualisation {
      display: flex;
      flex-direction: column;
      margin: 20px 0;
      .img-container {
        display: flex;
        justify-content: center;
        justify-self: center;
        width: 80%;
        height: 20%;
        overflow: hidden;
        margin: auto;
      }
    }
    .submit-btn {
      float: right;
    }
    .translation {
      display: flex;
      flex-direction: column;

      .text-container {
        background-color: $white-smoke;
        padding: 16px;
        width: fit-content;
        border-radius: 5px;
        margin: auto;
        .audio-controls {
          margin: 12px 0;
        }
      }
    }

    .title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }

  .end-btn {
    @extend %option-btn;
    background-color: $primary-color;
    color: white;
  }
}
