@import 'styles';
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $light-blue;
  padding: 0 2%;
  .container {
    display: flex;
    flex-direction: column;
    padding: 12px 20px;
    margin: 12px 0;
    background-color: #ffffff;
    box-shadow: 0 0 3px #aaaaaa;
    color: #333333;
    border-radius: 5px;
    height: 90%;
    overflow: auto;
    .header {
      display: flex;
      justify-content: flex-end;
    }
    input[type='file']::file-selector-button {
      @extend %option-btn;
      background-color: $primary-color;
      color: white;
    }
    .drop-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 16px auto;
      padding: 64px;
      border: 2px dashed #000000;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background: #eee;
      }
    }
    .vizualisation {
      display: flex;
      flex-direction: column;
      margin: 20px 0;
      .img-container {
        display: flex;
        justify-content: center;
        justify-self: center;
        width: 80%;
        height: 20%;
        overflow: hidden;
        margin: auto;
      }
    }
    .submit-btn {
      float: right;
    }
    .translation {
      display: flex;
      flex-direction: column;
      margin: auto;
      .title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .audio-controls {
        margin: 12px 0;
      }
    }
  }

  .end-btn {
    @extend %option-btn;
    background-color: $primary-color;
    color: white;
  }
}
