<ng-container *ngFor="let input of messagesWrapped; let i = index">
  <ng-template [ngIf]="input.notification === undefined">
    <div [ngClass]="input.isSender ? 'bubble-sender-area' : 'bubble-receiver-area'">
      <div [ngClass]="input.isSender ? 'sender' : 'receiver'">
        <div *ngIf="input.message.role === 'DE'; then user; else advisor"></div>
        <ng-template #user>
          <div class="bubbleTitle">
            <span *ngIf="input.message.flag !== 'xa'" class="fi fi-{{ input.message.flag }}"></span>
            <img *ngIf="input.message.flag === 'xa'" class="fi" src="../../../../../assets/images/common/arab-flag.png" alt="drapeau" />
            <span>&nbsp;{{ input.message.member }}</span>
          </div>
        </ng-template>
        <ng-template #advisor>
          <div class="bubbleTitle">
            <img src="../../../../../assets/images/pe/logo-pe.svg" alt="pole emploi" class="logo" *ngIf="showPoleEmploiLogo" />
            <span *ngIf="!showPoleEmploiLogo" class="fi fi-fr"></span>
            <span>&nbsp;{{ input.message.member}}</span>
          </div>
        </ng-template>
        <div class="messageTranslated">
          <bdi>{{ input.message.translation }}</bdi>
        </div>
      </div>
      <div class="listen" (click)="listen(i)" *ngIf="input.message.audioHtml"></div>
    </div>
  </ng-template>
  <ng-template [ngIf]="input.notification">
    <div class="notification">
      <span class="notificationText">{{ input.notification }}</span>
      <button *ngIf="i!=0 && isAudioSupported" class="listen" (click)="listenToNotification(i)"></button>
    </div>
  </ng-template>
</ng-container>
