@import 'styles';

.sender {
  background-color: $secondary-color;
  color: white;
  margin: 10px;
}

.receiver {
  background-color:$white-smoke;
  margin: 10px;
}

.nickname {
  font-size: 13px !important;
}

.avatar {
    margin: 0;
    width: 30px;
}

.flag-icon {
  width: 34px;
  height: 24px;
  border: 1px solid $gray74;
  box-sizing: border-box;
  border-radius: 5px;
  background-size: cover;
}

.mat-card-footer {
  padding-right: 10px;
  font-size: 10px;
}

::ng-deep .mat-card-header-text {
    padding-top: 5px !important;
    width: 100%;
}

.listen{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  img{
    height: 25px;
  }
}

.mat-card-avatar {
  height: 100%;
}

.notification {
  font-size: 15px;
  text-align: center;
}