<ng-container *ngFor="let input of multiDevicesMessages; let i = index">
  <ng-template [ngIf]="input.notification === undefined">
    <mat-card [ngClass]="{'sender': input.isSender ,'receiver': !input.isSender}">
      <ng-template [ngIf]="input.message.member !== undefined || input.message.member !== null">
        <mat-card-header>
          <div mat-card-avatar class="avatar" *ngIf="!input.isSender">
            <span *ngIf="input.message.flag !== 'arabic'" class="flag-icon flag-icon-{{ input.message.flag }}"></span>
            <img *ngIf="input.message.flag === 'arabic'" class="flag-icon" src="./assets/images/arab-flag.png" alt="flag" />
          </div>
          <mat-card-title class="nickname">{{ input.message.translation }}</mat-card-title>
          <div class="listen">
            <a (click)="listen(i)" *ngIf="input.message.translatedSpeech !== null">
              <img src="../../../assets/icons/icon-listen-black.svg" alt="Ecoute de la traduction" />
            </a>
          </div>
        </mat-card-header>
      </ng-template>
      <mat-card-footer align="end">{{ input.message.member }} {{ input.message.lasttime }}</mat-card-footer>
    </mat-card>
  </ng-template>
  <ng-template [ngIf]="input.notification">
    <div class="notification">{{input.notification}}</div>
  </ng-template>
</ng-container>
