@import '../../../sass/panel.scss';
@import '../../../sass/colors.scss';

:host {
  padding-top: 20px;
}

.choice {
  display: flex;
  justify-content: space-between;
  .mode {
    .checkbox {
      display: flex;
      margin-bottom: 10px;
      justify-content: flex-end;
      .circle {
        border: 1px solid $gray74;
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }
    }
    background-color: $white-smoke;
    width: 45%;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    border-color: $gray74;
    text-align: center;
    .translation {
      color: $gray74;
    }
    &.mode:hover {
      border-color: $primary-color;
      background-color: $light-blue;
    }
  }
}

@media screen and (max-width: 720px) {
  form {
    margin-top: 0;
  }
  .choice {
    flex-direction: column;
    .mode {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
