<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="title">
    <img src="../../../assets/images/pe/logo-working.png" alt="Logo Trad" style="width: 50%" />
    <div style="padding-top: 5%">
      <h1 class="t2">Connexion</h1>
      <p class="t3">Accédez au service de <span class="text-app">traduction instantanée</span></p>
    </div>
  </div>

  <button *ngIf="!authPending && (params.authType == AuthType.both || params.authType == AuthType.SSO)" type="button" (click)="connexionTraduction()">Connexion avec votre Login/Mdp SNCF (SSO)</button>

  <div *ngIf="showOauthLoginError" class="loading" style="color: red">
    Une erreur est survenue dans la procédure de connexion
    <button (click)="oauthLogin()">Réessayer de se connecter</button>
  </div>

  <p *ngIf="params.authType == AuthType.both && !authPending" class="separation">ou</p>

  <mat-form-field *ngIf="(!isOauthLogin && (params.authType == AuthType.both || params.authType == AuthType.loginPassword )) && !authPending" [color]="email.valid && 'accent'" class="input density">
    <input id="email" matInput class="text" type="email" formControlName="email" placeholder="Identifiant" autocomplete="off" />
    <mat-error *ngIf="email.hasError('required')">L'adresse email est requise.</mat-error>
    <mat-error *ngIf="email.invalid && email.dirty">Vous devez entrer une adresse email valide.</mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="(!isOauthLogin && (params.authType == AuthType.both || params.authType == AuthType.loginPassword )) && !authPending" [color]="password.valid && 'accent'" class="input density">
    <input id="password" matInput type="password" formControlName="password" placeholder="Mot de passe" autocomplete="off" />
    <mat-error *ngIf="password.hasError('required')">Le mot de passe est requis.</mat-error>
    <mat-error *ngIf="password.invalid && password.dirty">Le mot de passe doit faire au moins 6 caractères.</mat-error>
  </mat-form-field>

  <button type="submit" *ngIf="(!isOauthLogin && (params.authType == AuthType.both || params.authType == AuthType.loginPassword )) && !authPending" [disabled]="form.invalid">Se connecter</button>

  <div *ngIf="authPending" class="loading">
    <div class="loading">
      Connexion en cours
    </div>
    <mat-spinner class="loading"></mat-spinner>
  </div>

</form>
