<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="title">
    <img src="../../../assets/images/pe/logo-working.png" alt="Logo Pôle Emploi" style="width: 50%" />
    <h1 class="t2">Connexion</h1>
    <p class="t3">Accédez au service de <span class="text-app">traduction instantanée</span></p>
  </div>

  <mat-form-field *ngIf="!isOauthLogin" [color]="email.valid && 'accent'" class="input">
    <input id="email" matInput class="text" type="email" formControlName="email" placeholder="Identifiant" autocomplete="off" />
    <mat-error *ngIf="email.hasError('required')">L'adresse email est requise.</mat-error>
    <mat-error *ngIf="email.invalid && email.dirty">Vous devez entrer une adresse email valide.</mat-error>
  </mat-form-field>

  <mat-form-field *ngIf="!isOauthLogin" [color]="password.valid && 'accent'" class="input">
    <input id="password" matInput type="password" formControlName="password" placeholder="Mot de passe" autocomplete="off" />
    <mat-error *ngIf="password.hasError('required')">Le mot de passe est requis.</mat-error>
    <mat-error *ngIf="password.invalid && password.dirty">Le mot de passe doit faire au moins 6 caractères.</mat-error>
  </mat-form-field>

  <button type="submit" *ngIf="!isOauthLogin" [disabled]="form.invalid">Se connecter</button>

  <div class="btn-ft">
    <a *ngIf="isOauthLogin" (click)="loginPE()" class="btn-france-travail" target="_blank">
      <!--<img class="me-2" height="30" src="../assets/images/common/logo-france-travail-bg.svg" alt="">-->
      <span style="font-weight: bold;"> &nbsp; Connexion agents France Travail</span>
    </a>
  </div>

  <!--<span class="ou-word">ou</span>

  <a *ngIf="isOauthLogin" (click)="loginIC()" class="btn-inclusion-connect" target="_blank">
    <span>Se connecter avec <span style="font-weight:bold;">&nbsp;Inclusion Connect</span></span>
  </a>-->

</form>
