<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="title">
    <img src="assets/images/logo-v.svg" alt="Logo Pôle Emploi" />
    <h1 class="t2">Connexion</h1>
    <p class="t3">Accédez au service de <span class="text-app">traduction instantanée</span></p>
  </div>
  <mat-form-field [color]="username.valid && 'accent'" class="input">
    <input matInput class="text" formControlName="username" placeholder="Identifiant" autocomplete="off" />
    <mat-error *ngIf="username.hasError('required')">Un identifiant est requis.</mat-error>
  </mat-form-field>

  <button type="submit">SE CONNECTER</button>
</form>
