<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="title">
    <img style="width: 80%; padding-bottom: 5%;" src="../../../assets/images/common/logo-working.png" alt="Logo TRAD" *ngIf="showTraductionLogo" />
    <h1 class="t2">Login</h1>
    <p class="t3">Access to Traduction <span class="text-app">translation service</span></p>
  </div>
  <mat-form-field [color]="username.valid && 'accent'" class="input">
    <mat-label>
      <mat-icon>perm_identity</mat-icon> Write your firstname
    </mat-label>
    <input matInput class="text" formControlName="username" autocomplete="off" />
    <mat-error *ngIf="username.hasError('required')">A name is required.</mat-error>
    <mat-error *ngIf="username.invalid && username.dirty">The name must be between 2 and 32 characters.</mat-error>
  </mat-form-field>

  <button type="submit" [disabled]="form.invalid || inProgress">LOGIN</button>
</form>
