<navbar class="navbar" [items]="navBarItems" (perform)="handleAction($event)"></navbar>
<h2>Choix de langues / Choice of language</h2>
<div class="tiles">
  <div class="countries" *ngFor="let item of selectedCountriesData">
    <div class="country-data">
      <div class="sentence" [ngStyle]="{ width: item.audioSupported ? '200px' : '250px' }">
        {{ item.displayedWelcome }}
      </div>
      <div class="speaker" *ngIf="item.audioSupported" (click)="audioDescription(item.readedWelcome, item.isoCode)"></div>
      <div class="selectLanguageButton" (click)="selectLanguage(item.isoCode, item.isoCode)">
        <span class="flag-icon flag-icon-{{ item.flag.toLowerCase() }}"></span>
        <div class="buttonSentence">{{ item.buttonSentence }}</div>
      </div>
    </div>
  </div>
  <div class="more" (click)="moreLanguage()">
    <img src="assets/icons/icon-more-black.svg" alt="{{ otherLanguageFr }}" />
    <div class="text">
      <span class="fr">{{ otherLanguageFr }}</span>
      <span class="en">{{ otherLanguageEn }}</span>
    </div>
  </div>
</div>
