<div class="choice">
  <h2><strong>Choix de langues </strong>/ Choice of language</h2>
  <mat-form-field class="search" appearance="outline">
    <mat-icon matPrefix>search</mat-icon>
    <input type="search" placeholder="Saisissez la langue recherchée" aria-label="Search" autocomplete="off" matInput (keyup)="applyFilter($event)" />
  </mat-form-field>
  <div class="action">
    <button [ngClass]="{'optionNoClicked': displayAll, 'optionClicked': !displayAll}" (click)="getMost()">{{wordings.mostBtn}}</button>
    <button [ngClass]="{'optionNoClicked': !displayAll, 'optionClicked': displayAll}" (click)="getAll()">
      <img style="vertical-align:middle"  src="assets/icons/all-languages.svg" alt="Multi Language" />
      <span class="description">{{wordings.allBtn}}</span>
    </button>
    <button class="optionListGrid" (click)="getList()"><i [ngClass]="{'fas fa-th': listSelected, 'fa fa-list': !listSelected}"></i></button>
  </div>
  <ng-template [ngIf]="listSelected">
    <app-language-list [displayAll]='displayAll' [search]='search'></app-language-list>
  </ng-template>
  <ng-template [ngIf]="!listSelected">
    <app-language-grid [displayAll]='displayAll' [search]='search'></app-language-grid>
  </ng-template>
</div>


