@import 'styles';
@import 'option';


:host {
  width: 100%;
  min-height: 100%;
  display: block;
  background-color: $light-blue;
  padding-top: 20px;
}

.choice {
  width: 90%;
  margin:auto;
}

h2 {
  color: $secondary-color;
  font-size: 22px;
  font-weight: 400;
  strong {
    font-weight: 500;
  }
}

.search{
  width: 50%;
  font-size:10px;
  input {
    margin-left: 10px;
    font-size: 16px;
  }
}

:host ::ng-deep .mat-mdc-form-field .mat-mdc-text-field-wrapper {
  background-color: white;
  border-radius: 5px;
}

:host ::ng-deep .mat-mdc-form-field-icon-prefix .mat-icon, .mat-mdc-form-field-icon-suffix .mat-icon {
  padding: 8px 0 8px 8px;
  font-size: 200%;
}

@media screen and (max-width: 1050px) {
  .choice {
    width: 99%;
  }
  h2{
    padding-left:5px;
  }
  .search{
    width:99%;
  }
}

@media screen and (max-width: 576px) {
  .listgrid{
    display:none;
  }
}

.taille-icon {
  height: auto;
  width: auto;
}

.footercgu{
  text-align: center;
  color: gray;
  font-size: 12px;
}
