@import 'styles';

:host {
  width: 100%;
  min-height: 100%;
  display: block;
  background-color: $light-blue;
}
h2 {
  margin: 10px 5%;
  color: $secondary-color;
  font-size: 22px;
  font-weight: 400;
}
strong {
  font-weight: 500;
}
.countries {
  margin: auto;
  padding: 20px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-content: space-evenly;
  background-color: $white;

  .country {
    margin: auto;
    width: 300px;
    padding: 10px;
    flex-direction: column;
    color: #666666;
    border-radius: 5px;
    background-color: $white-smoke;
    .title {
      width: 300px;
    }
    .middle {
      margin-top: 15px;
      height: 40px;
      display: flex;
      justify-content: space-between;
      .speaker {
        background-image: url('../../../assets/icons/icon-listen-blue.svg');
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 40px;
        background-color: white;
        background-size: 20px;
        width: 40px;
        height: 40px;
      }
    }
    .selectLanguageButton {
      align-items: baseline;
      display: flex;
      color: $button-black;
      width: 170px;
      flex-direction: row;
      flex-wrap: wrap;
      margin: auto;
      align-items: baseline;
      height: 35px;
      border: 1px solid $gray74;
      border-radius: 10px;
      cursor: pointer;

      .flag-icon {
        width: 29px;
        height: 20px;
        border: 1px solid $gray74;
        box-sizing: border-box;
        border-radius: 5px;
        background-size: cover;
        margin: auto;
      }

      .sentences {
        margin: auto;
        flex-direction: column;
        .buttonSentenceFR {
          font-size: 11px;
        }
        .buttonSentenceRAW {
          font-size: 9px;
        }
      }
    }
    &:hover {
      color: white;
      background: $primary-color;
      .selectLanguageButton {
        color: white;
      }
    }
  }
}

.more {
  position: fixed;
  right: 40px;
  bottom: 20px;
  background-color: #135dfe;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 3px #3a3a3a;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  cursor: pointer;

  i {
    font-size: 30px;
    margin-right: 15px;
  }

  .text {
    display: flex;
    flex-direction: column;
    margin: 20px;
    .fr {
      font-size: 12px;
      color: rgba(255, 255, 255, 1);
    }
    .en {
      font-size: 10px;
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

@media screen and (max-width: 700px) {
  .text {
    display: none !important;
  }
  i {
    margin-right: 0 !important;
  }
}

// Animation
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
