<div class="tiles">
  <div class="countries" (mouseover)="setBackgroundColor($event.target)" (mouseleave)="removebackgroundColor($event.target)" *ngFor="let item of mainLanguages">
    <div class="country-data" (mouseleave)="removebackgroundColor($event.target)" (click)="selectLanguage(item.country.code, item.country.code.audioLanguage); this.stopPropagation()">
      <span class="flag-icon flag-icon-{{ item.country.flag.toLowerCase() }}" (mouseleave)="removebackgroundColor($event.target)"></span>
      {{ item.country.traduction }} / {{ item.country.country }}
      {{ item.hello }}
    </div>

    <img (click)="audioDescription(item.hello, item.country.code.audioLanguage)" (mouseleave)="removebackgroundColor($event.target)" src="assets/icons/icon-listen-black.svg" alt="{{ Ecoutez }}" />

    <div class="selectLanguage" (mouseleave)="removebackgroundColor($event.target)" (click)="selectLanguage(item.country.code, item.country.code.audioLanguage)">
      {{ item.country.language }} / {{ item.country.LanguageFr }}
    </div>
  </div>
</div>

<div class="more" (click)="moreLanguage()">
  <img src="assets/icons/icon-more-black.svg" alt="{{ otherLanguageFr }}" />
  <div class="text">
    <span class="fr">{{ otherLanguageFr }}</span>
    <span class="en">{{ otherLanguageEn }}</span>
  </div>
</div>
