<div class="choice">
  <h2><strong>Choix de langues </strong>/ Choice of language</h2>
  <mat-form-field class="search" appearance="outline">
    <mat-icon matPrefix>search</mat-icon>
    <input type="search" placeholder="Saisissez la langue ou le pays recherché" aria-label="Search" autocomplete="off" matInput (keyup)="applyFilter($event)" />
  </mat-form-field>
  <app-language-option (optionListEmit)="emitOptionList($event)" (optionAllEmit)="emitOptionAll($event)"></app-language-option>
  <ng-template [ngIf]="optionList">
    <app-language-list [optionAll]='optionAll' [search]='search'></app-language-list>
  </ng-template>
  <ng-template [ngIf]="!optionList">
    <app-language-grid [optionAll]='optionAll' [search]='search'></app-language-grid>
  </ng-template>
</div>


