nav {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  .logo {
    display: flex;
    flex-direction: column;
    width: 200px;
    img {
      width: 143px;
    }
    .title {
      font-size: 14px;
      font-weight: bold;
      color: #bf5858;
    }
  }
  .language {
    font-weight: bold;
    font-size: 20px;
    .raw, .french {
      color: #427db8;
      display: inline-block;
    }
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
    button {
      background-color: #404040;
      color: #ffffff;
      padding: 12px;
      border: none;
      box-shadow: 0 0 3px #000000;
      font-size: 18px;
      border-radius: 50%;
      display: flex;
      margin: 0 10px;
      &:focus {
        outline: 0;
      }
      &:active {
        outline: 0;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  nav {
    flex-direction: column;

    .logo {
      img {
        margin: 0 auto;
      }

      .title {
        text-align: center;
      }
    }

    .language {
      margin-top: 20px;
    }

    .buttons {
      margin-top: 20px;
    }
  }
}