<navbar [items]="navBarItems"></navbar>

<div class="interfaces">
  <h1>Paramètre de la session</h1>

  <button class="logout" (click)="logout()">Se déconnecter</button>

  <div class="parameters">
    <mat-slide-toggle [(ngModel)]="audio" (click)="switchAudio()">Activation de l'audio après traduction
    </mat-slide-toggle>

    <div class="group">
      <h2>Conseiller</h2>
      <mat-form-field>
        <input matInput (keyup)="setInformation($event.target.value, 'advisorF')" [(ngModel)]="advisor.firstname"
          placeholder="Prénom" value="{{ advisor.firstname }}">
      </mat-form-field>
      <mat-form-field>
        <input matInput (keyup)="setInformation($event.target.value, 'advisorL')" [(ngModel)]="advisor.lastname"
          placeholder="Nom" value="{{ advisor.lastname }}">
      </mat-form-field>
    </div>
  </div>

  <button (click)="validateInformations()">Valider</button>
</div>