@import 'styles';

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
  background-color: $warm-white;
}

mat-sidenav {
  width: 40%;
  min-width: 200px;
  max-width: 300px;
}

.content {
  padding-top: 64px;
}

@media (max-width: 599px) {
  .content {
    padding-top: 56px;
  }
}
