<div class="slide">
  <div class="slide-top">
    <div class="titles">{{ title}}</div>
    <mat-icon aria-hidden="false" (click)="closeDialog()" class="close">close</mat-icon>
  </div>
  <div class="slide-inner">

    <div class="helpFigures" *ngIf="tabNumber === 0">
      <mat-icon aria-hidden="false" class="chevron" (click)="previousItem()" aria-label="Précédent">chevron_left
      </mat-icon>
      <iframe width="560" height="500" src='https://www.youtube.com/embed/OG5COR9cCxo' frameborder="0"
              allowfullscreen></iframe>
      <mat-icon aria-hidden="false" class="chevron" (click)="nextItem()" aria-label="Suivant">chevron_right</mat-icon>
    </div>
    <div class="helpFigures" *ngIf="tabNumber === 1" style="padding-top: 10%;">
      <mat-icon aria-hidden="false" class="chevron" (click)="previousItem()" aria-label="Précédent">chevron_left
      </mat-icon>
      <img width="270" height="200" class="column" src="../../../../../assets/images/pc.jpg">
      <span class="vertical-line" *ngIf="!isMobile"></span>
      <img width="270" height="200" class="column" src="../../../../../assets/images/tablette.jpg">
      <mat-icon aria-hidden="false" class="chevron" (click)="nextItem()" aria-label="Suivant">chevron_right</mat-icon>
    </div>

    <div *ngIf="tabNumber === 1" class="helpSentences">
      <ul class="helpFR">
        <li class="circle browser">
          <span>Navigateur chrome  </span>
          <img src="../../../../../assets/images/chrome-icon.png"/>
        </li>
        <li class="circle">Partage de l'ecran</li>
        <li class="circle">Micro et haut parleurs à proximité des participants</li>
      </ul>

      <ul class="helpEN">
        <li class="circle browser">
          <span>Navigateur chrome  </span>
          <img src="../../../../../assets/images/chrome-icon.png"/>
        </li>
        <li class="circle">Connexion wifi stable</li>
        <li class="circle">Attention aux nuisances sonores</li>
      </ul>
    </div>

    <div class="helpFigures discoursPointsCtr" *ngIf="tabNumber === 2">
      <mat-icon aria-hidden="false" class="chevron" (click)="previousItem()" aria-label="Précédent">chevron_left
      </mat-icon>
      <ul class="helpFR discoursPoints">
        <li class="point">
          <img src="../../../../../assets/icons/check-circle.svg"/>
          <span class="sentences">Parler fort</span>
        </li>
        <li class="point">
          <img src="../../../../../assets/icons/check-circle.svg"/>
          <span class="sentences">Faire des phrases courtes</span>
        </li>
        <li class="point">
          <img src="../../../../../assets/icons/check-circle.svg"/>
          <span class="sentences">Eviter les acronymes</span>
        </li>
      </ul>
      <mat-icon aria-hidden="false" class="chevron" (click)="nextItem()"  aria-label="Suivant">chevron_right</mat-icon>
    </div>

  </div>
</div>
