<div class="content" [ngClass]="isMobile ? 'contentMobile' : 'content'">
  <div class="top" *ngIf="!isMobile">
    <h2 class="title">{{ isGuest ? title.helpEN : title.helpFR }}</h2>
    <mat-icon aria-hidden="false" (click)="closeDialog()" class="close">close</mat-icon>
  </div>
  <h3 class="description" *ngIf="!isMobile">{{ isGuest ? title.descriptionEN : title.descriptionFR }}</h3>
  <div class="indication" *ngIf="this.isGuest || !this.isMobile">{{ sentences[tabNumber].indication }}</div>
  <div class="middle">
    <mat-icon aria-hidden="false" (click)="previousItem()" class="chevron" aria-label="Précédent">chevron_left</mat-icon>
    <span class="vertical-line" *ngIf="!isMobile"></span>
    <img [ngClass]="isMobile ? 'imageMobile' : 'imageDesktop'" src="../../../../../assets/images/{{ sentences[tabNumber].image }}" />
    <span class="vertical-line" *ngIf="!isMobile"></span>
    <mat-icon aria-hidden="false" class="chevron" (click)="nextItem()" aria-label="Suivant">chevron_right</mat-icon>
  </div>
  <div class="helps">
    <div class="helpFR" *ngIf="!this.isGuest">
      <div class="helpText">{{ sentences[tabNumber].textFR }}</div>
      <div class="browser" *ngIf="sentences[tabNumber].browserFR">
        <img src="../../../../../assets/images/chrome-icon.png" />
        <span>{{ sentences[tabNumber].browserFR }}</span>
      </div>
    </div>
    <div class="helpEN" *ngIf="this.isGuest || !this.isMobile">
      <div class="helpText">{{ sentences[tabNumber].textEN }}</div>
      <div class="browser" *ngIf="sentences[tabNumber].browserFR">
        <img src="../../../../../assets/images/chrome-icon.png" />
        <span>{{ sentences[tabNumber].browserEN }}</span>
      </div>
    </div>

    <div class="bottom" *ngIf="isMobile">
      <ul>
        <li *ngFor="let elem of sentences; index as index" [ngClass]="tabNumber == index ? 'coloredCircle' : 'circle'"></li>
      </ul>
      <button class="closeBtn" *ngIf="isMobile" (click)="closeDialog()">CLOSE</button>
    </div>
  </div>
</div>
