@import '../../../../../sass/colors';
@import 'onboardingmobile';
.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  h2,
  h3 {
    font-weight: normal;
  }
  .top {
    display: flex;
    justify-content: space-between;
  }
  .vertical-line {
    border-left: 2px solid $gray74;
  }
  .indication {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    font-size: 16pt;
    height: 16pt;
  }
  .middle {
    display: flex;
    justify-content: space-between;
    height: 80%;
    .chevron {
      border: solid 1px $gray74;
      border-radius: 50%;
      margin: auto 0;
    }
    .chevron:hover {
      cursor: pointer;
    }
    .imageDesktop {
      width: 300px;
      height: 300px;
      margin: 0 70px;
    }
  }
  .helps {
    margin-top: auto;
    display: flex;
  
    justify-content: center;
    margin-top: 10%;
    white-space: pre-line;
    .browser {
      img {
        margin-right: 10px;
        vertical-align: middle;
        width: 32px;
        height: 32px;
      }
    }
    .helpFR,
    .helpEN {
      width: 45%;
      text-align: justify;
      .helpText {
        height: 75px;
      }
    }
    .helpFR {
      margin-right: 5%;
    }
  }
}
