.contentMobile {
    .helpFR,
    .helpEN {
      text-align: center;
    }
    .middle {
      margin: 20% 0;
      .imageMobile {
        width: 200px;
        height: 200px;
      }
    }
    .bottom {
      position: absolute;
      display: flex;
      align-items: center;
      flex-direction: column;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 30px auto;
      ul {
        display: flex;
        list-style-type: none;
        padding-inline-start: 0;
        li {
          border-radius: 50%;
          border: 1px solid $gray74;
          width: 15px;
          height: 15px;
          margin: 0 2px;
        }
        .circle {
          background-color: white;
        }
        .coloredCircle {
          background-color: $primary-color;
        }
      }
      .closeBtn {
        padding: 10px 30px;
        text-align: center;
        width: fit-content;
        background: $white-smoke;
        border: 1px solid #dddddd;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
        font-size: 12px;
        font-family: Roboto;
      }
    }
  }