<div class="countries">
  <div class="country" *ngFor="let item of countries">
    <div class="title">
      <strong>{{ item.languageNameFr }} </strong> / {{ item.languageNameRaw }} / {{ item.countryNameFr }}
    </div>
    <div class="middle">
      <div class="speaker" *ngIf="item.sentences.audioSupported" (click)="speakEnabled? audioDescription(item) :''"></div>
    </div>
    <div class="selectLanguageButton">
      <span *ngIf="item.isoCode !== 'ar-XA'" class="flag-icon flag-icon-{{ isoCodeToFlag(item.isoCode) }}"></span>
      <img *ngIf="item.isoCode === 'ar-XA'" class="flag-icon" src="assets/images/arab-flag.png" alt="flag" />
    </div>
  </div>
</div>