<div [ngClass]="{'countriesList': optionList, 'countries': !optionList}" >
  <div class="header country" *ngIf="optionList">
    <div class="title">
      <span class="fr">Langue</span>
      <span class="raw">Language</span>
    </div>
    <div class="flag">
      <span class="flag-icon" [ngStyle]="{'border': 0}"></span>
    </div>
    <div class="option">
      <div class="option-col">Voice</div>
      <div class="option-col">Audio</div>
      <div class="option-col">Test</div>
    </div>
  </div>
  <div class="country" *ngFor="let item of countries" (click)="selectLanguage(item)">
    <div class="title">
      <span class="fr">{{ item.languageNameFr }} ({{ item.countryNameFr }})</span>
      <span class="raw">{{ item.languageNameRaw }} <bdi>({{ item.countryNameRaw }})</bdi></span>
    </div>
    <div class="flag">
      <span *ngIf="item.isoCode !== 'ar-XA'" class="flag-icon flag-icon-{{ isoCodeToFlag(item.isoCode) }}"></span>
      <img *ngIf="item.isoCode === 'ar-XA'" class="flag-icon" src="assets/images/arab-flag.png" alt="flag" />
    </div>
    <div class="option">
      <div class="option-col">
        <img src="assets/icons/pronounce.svg" alt="Pronounce" matTooltip="{{tooltip.pronouce}}" matTooltipClass="tooltip-info"/>
      </div>
      <div class="option-col">
        <img *ngIf="item.sentences.audioSupported" src="assets/icons/listen.svg" alt="Listen"  matTooltip="{{tooltip.listen}}" matTooltipClass="tooltip-info"/>
        <img *ngIf="!item.sentences.audioSupported" src="assets/icons/no-listen.svg" alt="Listen"  matTooltip="{{tooltip.noListen}}" matTooltipClass="tooltip-info"/>
      </div>
      <div class="option-col">
        <div class="speaker" *ngIf="item.sentences.audioSupported" (click)="audioDescription(item)"  matTooltip="{{tooltip.audio}}" matTooltipClass="tooltip-info"></div>
      </div>
    </div>
  </div>
</div>