@import 'styles';

:host {
  background-color: $light-blue;
  width: 100%;
}

.container {
  display: flex;
  margin-top:20px;
  height:40px;
}

.field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  background-color: #ffffff;
  flex-grow:2;

  textarea {
    width: 100%;
    color: $black;
    font-size: 15px;
    padding: 5px 10px;
    height: 30px;
    border: none;
    outline: none;
    resize: none;
    font-family: Roboto;
    &::-webkit-scrollbar {
      width: 5px;
      background-color: #e0e0e0;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $black;
      border-radius: 3px;
    }
  }

}


.flag {
  cursor: default;
  display: flex;
  align-items: center;
  .flag-icon {
    width: 25px;
    height: 70%;
    box-sizing: border-box;
    border-radius: 5px;
    background-size: cover;

  }
}

.actions {
  margin-left:5px;
  img {
    width: 35px;
    height: 85%;
    border-radius: 50%;
    margin-top: 3px;
    cursor: pointer;
    background-color: $primary-color;
    animation: rightToLeftEffect 0.1s;
  }

  .btn-send {
    background: $primary-color;
    color: $white;
  }
  .btn-send-disabled {
    background: $white-smoke;
  }
}

.delete{
  cursor:pointer
}

.record {
  width: 100%
}

@media screen and (max-width: 800px) {
  .flag {
    margin-right: 10px;
  }
  textarea {
    padding: 0px;
  }
}

@keyframes rightToLeftEffect {
  0%   {transform: translateX(10px);}
  25%  {transform: translateX(7.5px);}
  50%  {transform: translateX(5px);}
  75%  {transform: translateX(2.5px);}
  100% {transform: translateX(0px);}
}

@-webkit-keyframes rightToLeftEffect {
  0%   {-webkit-transform: translateX(10px);}
  25%  {-webkit-transform: translateX(7.5px);}
  50%  {-webkit-transform: translateX(5px);}
  75%  {-webkit-transform: translateX(2.5px);}
  100% {-webkit-transform: translateX(0px);}
}

.counter{
  margin: auto;
  color:$primary-color;
  size: auto;
}
.record-container {
  position: relative;
  width: 8%;
  text-align: center;
  display: block;
}
[holdable] {
  outline:0;
  cursor: pointer;
  border: none;
  color: white;
  background-color: $primary-color;
  background-position-y: 40%;
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  display: block;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
}
.notRec{
}

.Rec{
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse{
  0%{
    box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
  }
  65%{
    box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
  }
  90%{
    box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
  }
}
