@import "styles";
.container {
  h2 {
    font-size: 14px;
    color: $black;
  }
  .input-wrapper {
    height: 530px;
    width: 95%;
    background: $white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 10px;
    .field {
      display: flex;
      padding: 10px  10px 10px 10px;
      margin-bottom: 5px;
      background: $white;
      border: 1px solid $gray74;
      box-sizing: border-box;
      border-radius: 5px;
      height: 150px;
      .left {
        display: flex;
        width: 240%;
        span {
          background-repeat: no-repeat;
          width: 33.91px;
          height: 24px;
          border: 1px solid $gray74;
          box-sizing: border-box;
          border-radius: 5px;
        }
        textarea {
          color: $black;
          font-size: 18px;
          padding-left: 10px;
          width: 100%;
          height: 130px;
          border: none;
          outline: none;
          resize: none;
        }
      }
      .right {
        display: flex;
        .micro {
          width: 33.91px;
          height: 24px;
          img {
            width: 40%;
          }
        }
        .delete {
          width: 33.91px;
          height: 24px;
          img {
            width: 70%;
          }
        }
      }
    }
    .actions {
      display: flex;
      justify-content: flex-end;
      padding-left: 64%;
      margin-bottom: 5%;
      .btn-send {
        background: $white;
        color: $black;
        margin-right: 10px;
      }
      button {
        height: 25px;
        width: 110px;
        background: $primary-color;
        color: $white;
        border: 1px solid $btn-border;
        box-sizing: border-box;
        border-radius: 5px;
        img {
          width: 13%;
          margin-right: 10px;
        }
      }
    }
    .translation {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      padding: 10px 0px 10px 0px;
      width: 100%;
      height: 300px;
      background: $white-smoke;
      .value {
        color: $black;
        font-size: 36px;
        background: $white-smoke;
        padding: 10px;
        height: 100%;
        width: 90%;
      }
      button {
        height: 25px;
        margin-left: 80%;
        width: 110px;
        background: $primary-color;
        color: $white;
        border: 1px solid $btn-border;
        box-sizing: border-box;
        border-radius: 5px;
        img {
          width: 13%;
          margin-right: 10px;
        }
      }
    }
  }
}
