<div class="container">
    <div class="field" *ngIf="!micro || !recordMode">
      <div class="flag">
        <ng-template [ngIf]="role !== 'DE'">
          <img class="flag-icon" src="../../../../../assets/icons/logo-pe.svg" alt="pole emploi" />
        </ng-template>
        <ng-template [ngIf]="role === 'DE'">
          <span *ngIf="flag !== 'xa'" class="flag-icon flag-icon-{{ flag }}"></span>
          <img *ngIf="flag === 'xa'" class="flag-icon" src="./assets/images/arab-flag.png" alt="flag" />
        </ng-template>
      </div>
      <textarea id="msg-wrapper-advisor" [placeholder]="interim" *ngIf="role == 'AGENT'" [(ngModel)]="rawText" (keydown.enter)="send(true); (false)" (blur)="displaySendOnBlur()" (click)="displaySendOnClick()" [ngStyle]="{ 'text-align': flag == 'xa' ? 'end' : 'start' }"></textarea>
      <textarea id="msg-wrapper-guest" [placeholder]="interim" *ngIf="role != 'AGENT'" [(ngModel)]="rawText" (keydown.enter)="send(true); (false)" (blur)="displaySendOnBlur()" (click)="displaySendOnClick()" [ngStyle]="{ 'text-align': flag == 'xa' ? 'end' : 'start' }"></textarea>
      <div class="buttons">
        <img class="delete" *ngIf="rawText" src="./assets/icons/icon-remove-blue.svg" alt="delete text" (click)="delete()" />
      </div>
    </div>
    <div class="actions" *ngIf="!micro || !recordMode">
        <ng-template [ngIf]="isIOS">
          <img class="img-send"  src="./assets/icons/icon-send-white.svg" alt="send text"  (click)="send(false)"/>
        </ng-template>
        <ng-template [ngIf]="!isIOS">
          <img *ngIf="canSend" class="img-send"  src="./assets/icons/icon-send-white.svg" alt="send text"  (click)="send(false)"/>
          <ng-template [ngIf]="!canSend">
            <img *ngIf="!speaking" src="./assets/icons/icon-micro-white.svg" alt="activate micro" (click)="talk()" />
            <img *ngIf="speaking && !recordMode" class="micro-stream"  [ngClass]="{ 'btn-send-disabled': speaking && !recordMode }" src="./assets/icons/icon-micro-red.svg" alt="activate micro" (click)="exitStream()"/>
          </ng-template>
        </ng-template>
    </div>
    <app-record class="record" *ngIf="recordMode" duration="500000" [role]="role" [language]="languageOrigin" [flag]="flag" (send)="audioSending($event)" (exit)="exitRecord($event)"></app-record>
</div>