<div class="container">
  <h2 [ngStyle]="{ 'text-align': flag == 'arabic' ? 'end' : 'start' }">{{ title }} :</h2>
  <div class="input-wrapper">
    <div class="field" *ngIf="!micro || !recordMode">
      <div class="flag">
        <span *ngIf="flag !== 'arabic'" class="flag-icon flag-icon-{{ flag }}" routerLink="/choice"></span>
        <img *ngIf="flag === 'arabic'" class="flag-icon" src="./assets/images/arab-flag.png" alt="flag" routerLink="/choice" />
      </div>
      <textarea [(ngModel)]="rawText" (keydown.enter)="send(true); (false)" [ngStyle]="{ 'text-align': flag == 'arabic' ? 'end' : 'start' }"></textarea>
      <div class="buttons">
        <img class="micro" src="./assets/icons/icon-micro-black.svg" alt="activate micro" (click)="talk()" />
        <img class="delete" src="./assets/icons/icon-delete-black.svg" alt="delete text" (click)="delete()" />
      </div>
    </div>
    <div class="actions" *ngIf="!micro || !recordMode">
      <button class="btn-send" (click)="send(true)">
        <img src="./assets/icons/icon-send-white.svg" alt="send text" />
        {{ sendBtnWording | uppercase }}
      </button>
    </div>
    <app-record class="margin" *ngIf="recordMode" duration="50" user="advisor" [language]="languageOrigin" (send)="audioSending($event)" (exit)="exitRecord($event)"></app-record>
    <!-- <app-stream class="margin" *ngIf="micro && !recordMode" duration="50" user="advisor" [language]="languageOrigin" (send)="audioSending($event)" (exit)="exitRecord($event)"></app-stream> -->
  </div>
</div>
