<div class="panel">
  <div class="title">
    <ng-template [ngIf]="!isSmallScreen">
      <img src="assets/images/logo-v.svg" alt="Logo Pôle Emploi" />
    </ng-template>
    <h1 class="t2"> {{ gdprWording.title }}</h1>
  </div>
  <div class="language">
    <mat-form-field appearance="none">
      <mat-select [(value)]="selected" (selectionChange)="chooseLanguage($event)">
        <mat-option value="english">English</mat-option>
        <mat-option value="french">Français</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="privacy">
      <ng-template [ngIf]="!isMoreOptions">
        {{ gdprWording.privacyText }}
      </ng-template>
  </div>
  <div class="action">
    <ng-template [ngIf]="!isMoreOptions">
      <button class="options" (click)="closeDialog()">{{ gdprWording.closeBtn }} </button>
    </ng-template>
  </div>
</div>
