<div class="panel">
  <div class="title">
    <img src="assets/images/logo-v.svg" alt="Logo Pôle Emploi" />
    <h1 class="t2"> {{ gdprWording.title }}</h1>
    <p class="t3">{{ gdprWording.preApplicationName }} <span class="text-app">{{ gdprWording.applicationName }} </span></p>
  </div>
  <div class="language">
    <mat-form-field appearance="none">
      <mat-select [(value)]="selected" (selectionChange)="language($event)">
        <mat-option value="english">English</mat-option>
        <mat-option value="french">Français</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="privacy">
      <ng-template [ngIf]="!isMoreOptions">
        {{ gdprWording.privacyText }}
      </ng-template>
      <ng-template [ngIf]="isMoreOptions">
        <b>{{ gdprWording.optionTitle }}</b>
        <div class="confirm">
          {{ gdprWording.optionText }}
        </div>
      </ng-template>
  </div>
  <div class="action">
    <ng-template [ngIf]="!isMoreOptions">
      <button class="options" (click)="agree()"  [ngClass]="{ 'mobileBtn': isMobile }">{{ gdprWording.disagreeBtn }} </button>
      <button class="options" (click)="moreOptions()"  [ngClass]="{ 'mobileBtn': isMobile }">{{ gdprWording.learnBtn }}</button>
      <button (click)="agree()" [ngClass]="{ 'mobileBtn': isMobile }">{{ gdprWording.agreeBtn }}</button>
    </ng-template>
    <ng-template [ngIf]="isMoreOptions">
      <button class="options" [ngStyle]="{ width:'200px' }" (click)="agree()">{{ gdprWording.confirmBtn }}</button>
    </ng-template>
  </div>
</div>
