<!-- <h1>{{ rateSentence }}</h1>

<div class="stars">
  <div class="star" (click)="eval(0)" [ngClass]="{'chosen': rates[0]}">
    <mat-icon aria-hidden="false" aria-label="Etoile">star_rates</mat-icon>
  </div>
  <div class="star" (click)="eval(1)" [ngClass]="{'chosen': rates[1]}">
    <mat-icon aria-hidden="false" aria-label="Etoile">star_rates</mat-icon>
  </div>
  <div class="star" (click)="eval(2)" [ngClass]="{'chosen': rates[2]}">
    <mat-icon aria-hidden="false" aria-label="Etoile">star_rates</mat-icon>
  </div>
  <div class="star" (click)="eval(3)" [ngClass]="{'chosen': rates[3]}">
    <mat-icon aria-hidden="false" aria-label="Etoile">star_rates</mat-icon>
  </div>
  <div class="star" (click)="eval(4)" [ngClass]="{'chosen': rates[4]}">
    <mat-icon aria-hidden="false" aria-label="Etoile">star_rates</mat-icon>
  </div>
</div>

<button (click)="confirm()">{{ send }}</button> -->