<mat-toolbar *ngIf="navS.visible">
  <div id="hamburger">
      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div id="logo">
    <img src="assets/images/logo.png" alt="Logo Pôle Emploi" />
  <div class="title">{{ title }}</div>
  </div>
  <div class="buttons">
    <button routerLink="choice" *ngIf="navS.choiceTab">
      <img src="assets/icons/icon-languages-black.svg">
      <span class="name">{{ choiceLink | uppercase }}</span>
    </button>
    <button (click)="share()" *ngIf="!isGuest && navS.shareTab">
      <img src="assets/icons/icon-share-alt-solid.svg">
      <span class="name">{{ shareLink | uppercase }}</span>
    </button>
    <button routerLink="settings/translation" *ngIf="!isGuest && navS.settingsTab">
      <img src="assets/icons/icon-settings-black.svg">
      <span class="name">{{ settingsLink | uppercase }}</span>
    </button>
    <button (click)="logout()">
      <img src="assets/icons/icon-logout.svg">
      <span class="name">{{ logoutLink | uppercase }}</span>
    </button>
  </div>
</mat-toolbar>
