<mat-toolbar *ngIf="navbarService.visible" id="navbar">
  <div id="logo">
    <ng-container *ngIf="isSmallScreen | async">
      <div id="hamburger">
        <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <img src="assets/images/logo.png" alt="Logo Pôle Emploi" />
    </ng-container>
    <ng-container *ngIf="isWideScreen | async">
      <img src="assets/images/logo.png" alt="Logo Pôle Emploi" />
      <div class="title">Traduction Instantanée</div>
    </ng-container>
  </div>
  <ng-container *ngIf="isWideScreen | async">
    <div class="tabs">
      <button id="choice-header" routerLink="choice" *ngIf="navbarService.choiceTab">
        <img src="assets/icons/icon-languages-black.svg" />
        <span class="name">{{ choiceLink | uppercase }}</span>
      </button>
      <button id="modality-header" routerLink="modalites" *ngIf="navbarService.modalityTab">
        <img src="assets/icons/icon-modality-black.svg" />
        <span class="name">MODALITÉ</span>
      </button>
      <button id="settings-header" routerLink="settings" *ngIf="navbarService.settingsTab">
        <img src="assets/icons/icon-settings-black.svg" />
        <span class="name">PARAMÈTRES</span>
      </button>
      <button id="help-header" *ngIf="navbarService.helpTab">
        <img src="assets/icons/icon-help-black.svg" />
        <span class="name">{{ helpLink | uppercase }}</span>
      </button>
      <button id="logout-header" (click)="logout()">
        <img src="assets/icons/icon-logout.svg" />
        <span class="name">{{ logoutLink | uppercase }}</span>
      </button>
      <!-- //TODO: share-header must be deleted when modality component is created-->
      <button id="share-header" (click)="share()" *ngIf="navbarService.shareTab">
        <img src="assets/icons/icon-share-alt-solid.svg" />
        <span class="name">PARTAGER</span>
      </button>
    </div>
  </ng-container>
</mat-toolbar>
