@import 'styles';

.translation {
  display: flex;
  padding: 10px;
  font-size: 20px;
  min-height: auto;
  height: auto;
  width: 98%;
  text-align: justify;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-radius: 5px;
  justify-content: space-between;

  a {
    img {
      margin-left: 10px;
      width: 20px;
      cursor: pointer;
    }
  }
}
.notification {
  font-size: 13px;
  color: grey;
  text-align: center;
  margin: 10px;
}

.user {
  display: flex;
  flex-direction: row-reverse;
}

.bubble {
  background-color: darkseagreen;
  width: 80%;
  margin: 10px;
  .message-sended {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 25px;

    .flag {
      padding-top: 2px;
      .flag-icon {
        width: 34px;
        height: 24px;
        border: 1px solid $gray74;
        box-sizing: border-box;
        border-radius: 5px;
        background-size: cover;
        cursor: default;
      }
    }

    .text {
      display: flex;
      flex-direction: row;
      width: 100%;
      padding: 0 5px 0 10px;
      text-align: justify;
      font-size: 16px;
      span {
        display: flex;
        width: 100%;
        .incoming-message {
          width: 100%;
          text-decoration: none;
          color: #4171da;
          padding-top: 5px;
          cursor: pointer;
        }
        .extand {
          img {
            width: 30px;
            height: 30px;
            background: #f5f5f5;
            -moz-border-radius: 70px;
            -webkit-border-radius: 70px;
            border-radius: 70px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
