<ng-container *ngFor="let messageWrapped of messagesWrapped; let i = index">

  <div *ngIf="messageWrapped.notification && (i == 0 || i == 1) " class="notification ">
    <span class="notificationText">{{ messageWrapped.notification }}</span>
    <button *ngIf="i!=0 && isAudioSupported" class="listen" (click)="listen(i)"></button>
  </div>

  <div *ngIf="messageWrapped.message" [ngClass]="messageWrapped.message.role === 'DE' ? 'bubble-area-user' : 'bubble-area-advisor'">
    <div [ngClass]="messageWrapped.message.role === 'DE' ? 'user' : 'advisor'">
      <div *ngIf="messageWrapped.message && messageWrapped.message.role === 'DE'; then user; else advisor"></div>
      <ng-template #user>
        <div class="bubbleTitle">
          <div>
            <span *ngIf="messageWrapped.message.flag !== 'xa'" class="fi fi-{{ messageWrapped.message.flag }}"></span>
            <img *ngIf="messageWrapped.message.flag === 'xa'" class="fi" src="../../../../../assets/images/common/arab-flag.png" alt="drapeau" />
            <span>&nbsp;Participant</span>
          </div>
        </div>
      </ng-template>
      <ng-template #advisor>
        <div class="bubbleTitle">
          <div>
            <img *ngIf="showTraductionLogo" src="../../../../../assets/images/pe/logo-chat.svg" alt="TRADUCTION" class="logo" />
            <span *ngIf="!showTraductionLogo" class="fi fi-fr"></span>
            <span>&nbsp;{{firstName}}</span>
          </div>
        </div>
      </ng-template>
      <div *ngIf="messageWrapped.message.text.length > 99; then longText; else shortText"></div>
      <ng-template #shortText>
        <div class="messageRaw">
          {{ messageWrapped.message.text }}
        </div>
        <div class="messageTranslated">
          <bdi>{{ messageWrapped.message.translation }}</bdi>
        </div>
      </ng-template>
      <ng-template #longText>
        <div class="messageRaw" [ngStyle]="{ height: messageNumberToFold === i ? '100%' : '1.2em' }">
          {{ messageWrapped.message.text }}
        </div>
        <div class="unfold-word" (click)="unFold(i)">
          {{ messageNumberToFold === i ? foldMessage(messageWrapped.message) : unFoldMessage(messageWrapped.message) }}
        </div>

        <div class="messageTranslated">
          <bdi>{{ messageWrapped.message.translation }}</bdi>
        </div>
      </ng-template>
    </div>
    <div class="listen" (click)="listen(i)" *ngIf="messageWrapped.message.audioHtml"></div>
  </div>
</ng-container>
