@import 'styles';

.notification {
  font-size: 13px;
  color: grey;
  text-align: center;
  margin: 10px;

  .notificationText {
    vertical-align: super;
    text-align: end;
  }
}
.bubble-area-advisor {
  margin: 20px 10px;
  margin-left: 0;
  display: flex;
  align-items: center;
  font-size: 13px;
}
.bubble-area-user {
  @extend .bubble-area-advisor;
  flex-direction: row-reverse;
}
.advisor,
.user {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  min-width: 250px;
  padding: 10px;
  border-radius: 10px;
  font-weight: lighter;
}
.advisor {
  background-color: white;
  border: solid 1px $gray74;
  .messageRaw {
    color: $light-grey66;
  }
}
.user {
  background-color: $blue-bubble;
  color: white;
  .unfold-word {
    color: white;
  }
}
.bubbleTitle {
  display: flex;
  font-weight: bolder;
  .logo {
    width: 20px;
    height: 15px;
    vertical-align: middle;
  }
  margin-bottom: 5px;
}
.messageTranslated {
  margin-top: 5px;
  font-weight: bolder;
  font-size: 12pt;
  word-wrap: break-word;
}
.messageRaw {
  overflow: hidden;
}
.btnListen{
  background-size: 15px;
  width: 15px;
  height: 15px;
  margin: 0 20px;
}
.listen {
  background-image: url('../../../../../assets/icons/icon-listen-black.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-color: white;
  background-size: 15px;
  width: 30px;
  height: 30px;
  border: solid grey 0.5px;
  margin: 0 20px;
  &:hover {
    cursor: pointer;
    background-image: url('../../../../../assets/icons/icon-listen-blue.svg');
  }
}

.flag-icon {
  width: 20px;
  height: 15px;
  vertical-align: middle;
  box-sizing: border-box;
  border-radius: 5px;
  background-size: cover;
}
.unfold-word {
  display: flex;
  flex-direction: row-reverse;
  color: blue;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}
